:root {
  --jo-dark: #282e2a;
  --jo-light: #5c645a;
}

* {
  box-sizing: border-box;
  font-family: 'Cormorant';
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.bg-jo {
  background-color: var(--jo-light);
}

.bg-jo-dark {
  background-color: var(--jo-dark);
}

.full-page-intro {
  background-color: var(--jo-dark);
}

.navbar-brand-jo {
  font-size: 2rem !important;
}

.nav-link-jo {
  font-size: 1.25rem !important;
}

.title-text-jo {
  font-size: 3.5rem;
}

.title-description-jo {
  font-size: 1.75rem;
}

.cards-jo {
  font-size: 1.4rem;
}

.card-jo {
  transition: all 150ms ease-in-out
}

.card-jo:hover {
  transform: scale(1.1);
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
  margin: auto;
}

.btn-jo-spotify {
  background-color: #1DB954;
  color: #fff;
}

.btn-jo-spotify:hover {
  background-color: #1DB954;
  color: #fff;
}

.btn-jo-bkh {
  background-color: #cddae1;
  color: #333;
}

.btn-jo-ptf {
  background-color: #0f301a;
  color: #fff;
}

.btn-jo-ptf:hover {
  background-color: #0f301a;
  color: #fff;
}

.btn-jo-plt {
  background-color: #a03d31;
  color: #fff;
}

.btn-jo-plt:hover {
  background-color: #a03d31;
  color: #fff;
}

.btn-jo-ncsu {
  background-color: #d92037;
  color: #fff;
}

.btn-jo-ncsu:hover {
  background-color: #d92037;
  color: #fff;
}

.btn-jo-op {
  background-color: #48767e;
  color: #fff;
}

.btn-jo-op:hover {
  background-color: #48767e;
  color: #fff;
}

@media (max-width: 971px) {
  .cards-jo {
    display: block;
  }
  .card-jo {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}